@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../files/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
    url('../files/Gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-ExtraboldItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../files/Gilroy/Gilroy-Bold.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../files/Gilroy/Gilroy-Black.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Black.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../files/Gilroy/Gilroy-Light.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Light.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../files/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Semibold.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../files/Gilroy/Gilroy-Medium.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('../files/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('../files/Gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../files/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-UltraLight.woff') format('woff'),
    url('../files/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('../files/Gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
    url('../files/Gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-SemiboldItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('../files/Gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('../files/Gilroy/Gilroy-Extrabold.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Extrabold.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('../files/Gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('../files/Gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('../files/Gilroy/Gilroy-LightItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-LightItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('../files/Gilroy/Gilroy-Heavy.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Heavy.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('../files/Gilroy/Gilroy-Thin.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-Thin.woff') format('woff'),
    url('../files/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('../files/Gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
    url('../files/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
    url('../files/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

